html {
	font-family: sans-serif;
	font-size: small;
}

#jobs table td img {
	width: 24px;
	height: 24px;
}

#jobs table .watched, 
#jobs table .status {
	text-align: center;
}

#footer {
	background-color: #f5f5f5;
}

#push, #footer {
	height: 60px;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#wrap .container {
	padding-top: -60px;
}

.container {
	width: auto;
	max-width: 680px;
}

.container .credit {
	margin: 20px 0;
}

.icon {
	height: 24px;
	width:  24px;
	background-size: contain;
	margin: auto;
}

.grey {
	background-image: url("../img/grey.png");
}

.blue {
	background-image: url("../img/blue.png");
}

.red {
	background-image: url("../img/red.png");
}

.yellow {
	background-image: url("../img/yellow.png");
}

.aborted {
	background-image: url("../img/aborted.png");
}

.grey_anime {
	background-image: url("../img/grey.png");
	-webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease;   
}

.blue_anime {
	background-image: url("../img/blue.png");
	-webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease;  
}

.red_anime {
	background-image: url("../img/red.png");
	-webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease;  
}

.yellow_anime {
	background-image: url("../img/yellow.png");
	-webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease;  
}

.aborted_anime {
	background-image: url("../img/aborted.png");
	-webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease;  
}

@-webkit-keyframes 'blink' {
    5% { opacity:  1; }
    50% { opacity: 0.1; }
    95% { opacity: 1; }
}
