body {
	margin: 0 !important;
	padding: 0 !important;
}

#popup {
	width: 300px;
}

#popup img {
	width: 20px;
	height:  20px;
}

#popup .table {
	margin: 0;
}

#popup th {
	background: #006DCC;
	color: white;
	font-weight: normal;
}

#popup th a {
	color: white;
}
