<!DOCTYPE HTML>
<html ng-app="jenkins-notifier" ng-csp>
  <head>
    <title>Jenkins Notifier Plus for Chrome</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
   	<link rel="stylesheet" href="css/bootstrap-responsive.css" />
    <script type="text/javascript" src="libs/angular/angular.js"></script>
    <script type="text/javascript" src="libs/jquery/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="libs/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="libs/desktop-notify/desktop-notify.js"></script>
    
    <script type="text/javascript" src="js/modules/angular-notify.js"></script>
    <script type="text/javascript" src="js/log.js"></script>
    <script type="text/javascript" src="js/chromeStorage.js"></script>
    <script type="text/javascript" src="js/jenkins.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
  </head>
	<body ng-controller="OptionsControl" ng-init="loadOptions()">
		<div id="wrap">
		<div class="container">
			<h1 class="page-header">Jenkins Notifier Plus <small>for Google Chrome</small></h1>
			<div class="row">
				<div class="content span8">
					<span class="label label-important" ng-repeat="info in infos">{{info}}</span>
					<section id="options">
						<h2>Options</h2>
						<table class="table table-striped table-bordered">
							<tr>
								<td>
									Jenkins URL
								</td>
								<td>
									<input class="span5" type="url" ng-model="options.jenkins_url" placeholder="http://example.com:8080/jenkins" ng-blur="urlLostFocus()" required>
								</td>
							</tr>
							<tr>
								<td>Polling-Interval</td>
								<td class="input-append span1">
									<input class="span1" type="number" ng-model="options.interval" placeholder="60" required>
									<span class="add-on">sec</span>
								</td>								
							</tr>
						</table>
					</section>
					<section id="jobs">
						<h2>Jobs</h2>
						<h3>Subscribed</h3>
						<table class="table table-striped table-bordered">
							<tr>
								<th class="span1">Status</th>
								<th>Job</th>
								<th class="span1"></th>
							</tr>
							<tr ng-repeat="job in options.jobs">
								<td class="status"><div class="icon" ng-class="job.color"></div></td>
								<td><div>{{job.name}}</div></td>
								<td><input type="button" class="btn btn-danger" value="Unsubscribe" ng-click="unsubscribe(job)"></td>
							</tr>
						</table>
						<h3>Unsubscribed</h3>
						<table class="table table-striped table-bordered">
							<tr>
								<th class="span1">Status</th>
								<th>Job</th>
								<th class="span1"></th>
							</tr>
							<tr ng-repeat="job in jobs">
								<td class="status"><div class="icon" ng-class="job.color"></div></td>
								<td>{{job.name}}</td>
								<td><input type="button" class="btn btn-success" value="Subscribe" ng-click="subscribe(job)"></td>
							</tr>
						</table>
					</section>
				</div>
			</div>
		</div>
		<div id="push"></div>
		</div>
		<div id="footer">
			<div class="container">
				<p class="muted credit">
					Jenkins Notifier for Google Chrome. Visit on
					<a href="https://github.com/TwoStone/jenkins-notifier-for-chrome" target="_blank">TwoStone@GitHub</a> - N. Walter
				</p>
			</div>
		</div>
	</body>
</html>
