<!DOCTYPE html>
<html ng-app="jenkins-notifier" ng-csp>
	<head>
		<meta charset="UTF-8">
		<title>Jenkins Notifier Popup</title>
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/popup.css" />
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/bootstrap-responsive.css" />
		<script type="text/javascript" src="libs/angular/angular.js"></script>
		<script type="text/javascript" src="libs/jquery/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="libs/bootstrap/bootstrap.js"></script>

		<script type="text/javascript" src="js/modules/angular-notify.js"></script>
		<script type="text/javascript" src="js/chromeStorage.js"></script>
		<script type="text/javascript" src="js/log.js"></script>
		<script type="text/javascript" src="js/jenkins.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/popupControl.js"></script>
	</head>
	<body ng-controller="PopupControl" ng-init="loadOptions()">
		<div id="popup" class="span10">
			<table class="table table-striped table-hover">
				<tr>
					<th colspan="2"><a ng-href="{{options.jenkins_url}}" target="_blank">{{options.jenkins_url}}</a></th>
				</tr>
				<tr ng-repeat="job in jobs">
					<td class="status"><div class="icon" ng-class="job.color"></div></td>
					<td><a ng-href="{{job.url}}" target="_blank">{{job.name}}</a></td>
				</tr>				
			</table>
		</div>
	</body>
</html>